# Ignore virtual environment and env files that should not be pushed to GitHub
.venv/
.env
*.egg-info/
__pycache__/
.tox/
.cache/
nosetests.xml
coverage.xml
.coverage
.htmlcoverage
*.log
dist/
*.egg
local_settings.py
*.db
*.sqlite
*.db-journal
*.sqlite-journal
.mypy_cache/
.eggs/

*.pyc
*.pyo
*.pyd
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.swn
*.swm
*.bak
*.tmp
*.temp
*.tmp.*
*.~*
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
$Recycle.Bin/
$Recycle.Bin/
$Recycle.Bin/
venv/
.pytest_cache/
oldenv.txt
starc-backend/oldenv.txt
